
        body {
            background-color: rgb(191, 230, 231);
        }

        /* h1{
            text-align: center;
            color: blue;
        }
        h3{
            text-align: center;
            color: blueviolet;
        } */
        .headder-text1 {
            text-align: center;
            color: rgb(41, 121, 196);
        }

        .hs-1{
            text-align: center;
            color: rgb(42, 126, 165);
        }
        .box {
            background-color: rgb(245, 241, 241);
            padding: 20px;
            border-radius: 100%;
            margin-top: 2%;
        }

        .flex-header {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: large;
        }

        .charmonman-regular {
            font-family: "Charmonman", cursive;
            font-weight: 400;
            font-style: normal;
        }

        .charmonman-bold {
            font-family: "Charmonman", cursive;
            font-weight: 700;
            font-style: normal;
        }
        .img-box{
            
            display: flex;
            justify-content: center;
            

        }
        img{
            border-radius: 30%;
            width: 1200px;
            padding: 20px;
           

            
        }

        .nav-menu{
            background-color: aquamarine;
            padding: 15px;
            text-align: center;
            margin-top: 10px;
            font-size: 140%;
        }

        .nav-menu-item{
            margin-left: 1%;
            margin-right: 1%;
            text-decoration:line-through ;
            
        }
    